@{
    ViewData["Title"] = "Bases Legales | Vuelta al Cole | Michelin";
}
@section Styles{
    <style>

    </style>
}
    <div class="content contentMichelinLeg">
        <div class="container containerMichelinLeg">
            <div id="containerLeg">
                <div class="titLeg">BASES LEGALES PROMOCIÓN MICHELIN PRIMAVERA 2019</div>

                <div class="txtLeg">
                    MICHELIN ESPAÑA PORTUGAL, S.A., con domicilio en Avda. de los Encuartes, 19 Tres Cantos 28760 Madrid, y C.I.F.: A20003570 (En adelante Michelin) organiza la siguiente promoción que contará con tres fechas de comienzo  diferentes:<br />
                    Del 18 de marzo al 30 de abril para los usuarios que compren en talleres Euromaster y Rodi adheridos a la promoción.<br />
                    Del 25 de marzo al 30 de abril para los usuarios que compren en talleres Vialider adheridos a la promoción.<br />
                    Del 1 al 30 de abril para los usuarios que compren en el resto de talleres adheridos a la promoción.<br /><br />

                    Promoción limitada a 75.000 unidades de neumáticos MICHELIN de las gamas Turismo, Camioneta, 4x4/SUV y de Moto, exclusivamente de las gamas Power RS/RS+, Power 3, Road 5, CUSTOM y Anakee Adventure.<br /><br />

                    Durante el periodo promocional indicado, tendrán la posibilidad de participar en la presente promoción toda aquella persona mayor de edad que compre y monte neumáticos de la marca MICHELIN de las gamas Turismo, Camioneta, 4x4/SUV y de Moto (exclusivamente de las gamas Power RS/RS+, Power 3, Road 5, CUSTOM y Anakee Adventure) en los talleres de neumáticos de venta directa adheridos a la promoción. Los neumáticos deben ser destinados para el autoconsumo y no para la reventa ni para vehículos de flotas de renting.<br /><br />

                    Sólo serán tramitados aquellos formularios que aporten una factura de neumáticos comprados y montados en el mismo establecimiento, con un límite por participante, NIF o CIF y/o email de 8 neumáticos.<br /><br />

                    No acumulable a otras promociones de Michelin en el mismo periodo. <br /><br />

                    Por la compra y montaje de 4 neumáticos MICHELIN de turismo, camioneta o 4x4/SUV, de llanta 17 o superior, en los talleres de neumáticos de venta directa adheridos a la promoción, podrá elegir uno de los siguientes regalos, valorados en 60 €: <br /><br />

                    <div class="titul">1. BIB GOURMAND: </div>
                    <ul>
                        <li>Código válido por un descuento de 60 € válido en cualquiera de los restaurantes Bib Gourmand publicados en www.cena-experiencia.es </li>
                        <li>La solicitud de reserva siempre deberá ser realizada con al menos 72h laborables de antelación, bajo las condiciones especificadas en el voucher promocional, y está sujeta a la disponibilidad del restaurante. </li>
                        <li>En caso de no acudir a la reserva de mesa, el código se perderá. </li>
                        <li>El código posee un valor de 60 € no reembolsables: en caso de que el importe de la factura del restaurante sea inferior al importe correspondiente al código, el importe de éste se considerará canjeado en su totalidad, sin que pueda ser reembolsado o reutilizado el importe no consumido. En caso de que el importe de la factura del restaurante sea superior al importe correspondiente al código, la diferencia se deberá abonar directamente en el restaurante.</li>
                        <li>Cada restaurante aplica su propia política de cancelación, el restaurante se reserva el derecho de admitir un cambio de reserva para otra fecha y hora. </li>
                        <li>El voucher con el código no es nominativo. La responsabilidad y custodia del código regalo corresponde exclusivamente al tenedor de la misma.</li>
                        <li>Caducidad del código: 15/11/2019.</li>
                    </ul>

                    <div class="titul">2.ENTRADAS MOTO GP:</div>
                    <ul>
                        2.1. MOTO GP CATALUÑA:
                        <li>Código válido por una entrada para el Gran Premio Moster Energy de Cataluña 2019.</li>
                        <li>Entradas limitadas a 30 unidades.</li>
                        <li>Entradas de Tribuna K.</li>
                        <li>Entradas válidas para los tres días del evento: viernes, sábado y domingo. (14,15 y 16 de junio de 2019).</li>
                        <li>Las entradas deberán solicitarse con al menos 2 semanas de antelación a la fecha del evento. (Siendo la última fecha hábil para su petición el 30/05/2019).</li>
                    </ul>
                    <ul>
                        2.2. MOTO GP ARAGÓN:
                        <li>Código válido por una entrada para el Gran Premio de Aragón 2019.</li>
                        <li>Entradas limitadas a 30 unidades.</li>
                        <li>Entradas de Grada 1B.</li>
                        <li>Entradas válidas para los tres días del evento: viernes, sábado y domingo. (20,21 y 22 de septiembre de 2019).</li>
                        <li>Las entradas deberán solicitarse con al menos 2 semanas de antelación a la fecha del evento. (Siendo la última fecha hábil para su petición el 05/09/2019).</li>
                    </ul>
                    <ul>
                        2.2. MOTO GP VALENCIA:
                        <li>Código válido por una entrada para el Gran Premio de Motul de la Comunidad Valenciana 2019.</li>
                        <li>Entradas limitadas a 30 unidades.</li>
                        <li>Entradas de Tribuna Verde superior.</li>
                        <li>Entradas válidas para los tres días del evento: viernes, sábado y domingo. (15,16 y 17 de noviembre de 2019).</li>
                        <li>Las entradas deberán solicitarse con al menos 2 semanas de antelación a la fecha del evento. (Siendo la última fecha hábil para su petición el 31/10/2019).</li>
                    </ul>

                    <div class="titul">3.	CHEQUE CARBURANTE 60 €: </div>
                    <ul>
                        <li>Código válido por 60€ en carburante en las EESS Repsol, Campsa y Petronor adheridas a la promoción. </li>
                        <li>Se puede canjear el cheque tantas veces como sea necesario hasta agotar la totalidad del saldo.</li>
                        <li>Cheques no acumulables entre sí. </li>
                        <li>EESS adheridas disponibles en www.chequecarburante.es/cobertura</li>
                        <li>Caducidad del cheque: 15/11/2019.</li>
                    </ul>

                    <div class="titul">4.	CHEQUE LAVADO COCHE DE 30 USOS:</div>
                    <ul>
                        <li>Código válido por 30 lavados básicos en las EESS de Repsol, Campsa y Petronor con túnel de lavado automático adheridas a la promoción.</li>
                        <li>Cheque canjeable 30 veces hasta agotar la totalidad de lavados disponibles. </li>
                        <li>EESS adheridas disponibles www.chequelavado.es/cobertura.</li>
                        <li>Caducidad del cheque: 15/11/2019</li>
                    </ul>

                    <div class="titul">5.	ENTRADAS DE CINE:</div>
                    <ul>
                        <li>12 códigos, canjeables cada uno de ellos por una entrada de cine individual directamente en la taquilla de los cines adheridos a la promoción.</li>
                        <li>Canjeables cualquier día de la semana en cualquier sesión, excepto sesiones 3D, ISENS, Imax, VIP, MacroXE, Salas Junior/Luxury/Premium o Luxe que supongan un aumento de precio respecto a la entrada convencional de CINE 2d/Digital, salvo que la taquilla del Cine donde se efectué la presentación permita al presentador pagar el recargo correspondiente a la entrada especial.</li>
                        <li>Listado de cines adheridos a la promoción disponibles en www.inticket.es </li>
                        <li>Canjeables en taquilla en el momento de su presentación, no admitiéndose reservas para días posteriores.</li>
                        <li>Caducidad de los códigos: 15/11/2019</li>
                    </ul>


                    <div class="titul">6.	CHEQUE REGALO DECATHLON 60€:</div>
                    <ul>
                        <li>Cheque Regalo Decathlon canjeable por 60€ en tiendas Decathlon de España o en www.decathlon.es</li>
                        <li>Se puede utilizar el saldo del cheque y realizar compras hasta agotar la totalidad del saldo.</li>
                        <li>El pago con el cheque puede efectuarse en una o varias veces hasta agotar el saldo del mismo.</li>
                        <li>Caducidad del cheque: 15/11/2019.</li>
                    </ul>


                    <div class="titul">7.	TARJETA REGALO DE 60€ EL CORTE INGLÉS:</div>
                    <ul>
                        <li>Cupón canjeable al presentarlo impreso en cualquier departamento de Atención al Cliente de los centros comerciales de El Corte Inglés o Hipercor en Península, Baleares e Islas Canarias por una Tarjeta Regalo por valor de 60€.</li>
                        <li>La Tarjeta Regalo de El Corte Inglés recibida al canjear su cupón es válida para su uso en El Corte Inglés, Hipercor, Supercor, Viajes El Corte Inglés, Bricor, Sfera, Óptica 2000, La Tienda en Casa y en la web www.elcorteingles.es</li>
                        <li>Caducidad del cupón: 15/11/2019</li>
                    </ul>


                    <div class="titul">8.	MOCHILA URBANA ANTIRROBO:</div>
                    <ul>
                        <li>Mochila antirrobo que para mayor seguridad, puede cerrarse enrollando el compartimento principal y cerrándolo con el candado de combinación reforzado con acero. También se puede utilizar esta función para bloquear la parte posterior alrededor de un objeto fijo. </li>
                        <li>La mochila cuenta con múltiples bolsillos ocultos, perfectos para proteger las pertenencias. </li>
                        <li>Bolsillo lateral para botella de agua / red elástica desmontable (para equipo deportivo) / compartimento interior acolchado apto para ordenador portátil de 15,6" o una tablet de hasta 12,9".</li>
                        <li>Producto limitado a 50 unidades.</li>
                        <li>En Península e Islas Baleares entrega en 7 días laborables tras la validación de la participación. En Ceuta, Melilla, Canarias y Andorra entrega en 2 semanas tras la validación de participación. </li>
                    </ul>






                    <br /><br />
                    Por la compra y montaje de 2 neumáticos MICHELIN de turismo, camioneta o 4x4/SUV, de llanta 17 o superior, en los talleres de neumáticos de venta directa adheridos a la promoción, podrá elegir uno de los siguientes regalos, valorados en 30 €:<br /><br />

                    <div class="titul">1.	BIB GOURMAND: </div>
                    <ul>
                        <li>Código válido por un descuento de 30 € válido en cualquiera de los restaurantes Bib Gourmand publicados en www.cena-experiencia.es </li>
                        <li>La solicitud de reserva siempre deberá ser realizada con al menos 72h laborables de antelación, bajo las condiciones especificadas en el voucher promocional, y está sujeta a la disponibilidad del restaurante. </li>
                        <li>En caso de no acudir a la reserva de mesa, el código se perderá. </li>
                        <li>El código posee un valor de 30 € no reembolsables: en caso de que el importe de la factura del restaurante sea inferior al importe correspondiente al código, el importe de éste se considerará canjeado en su totalidad, sin que pueda ser reembolsado o reutilizado el importe no consumido. En caso de que el importe de la factura del restaurante sea superior al importe correspondiente al código, la diferencia se deberá abonar directamente en el restaurante.</li>
                        <li>Cada restaurante aplica su propia política de cancelación, el restaurante se reserva el derecho de admitir un cambio de reserva para otra fecha y hora. </li>
                        <li>El voucher con el código no es nominativo. La responsabilidad y custodia del código regalo corresponde exclusivamente al tenedor de la misma.</li>
                        <li>Caducidad del código: 15/11/2019.</li>
                    </ul>


                    <div class="titul">2.	CHEQUE CARBURANTE 30 €: </div>
                    <ul>
                        <li>Código válido por 30€ en carburante en las EESS Repsol, Campsa y Petronor adheridas a la promoción.</li>
                        <li>Se puede canjear el cheque tantas veces como sea necesario hasta agotar la totalidad del saldo.</li>
                        <li>Cheques no acumulables entre sí.</li>
                        <li>EESS adheridas disponibles en www.chequecarburante.es/cobertura</li>
                        <li>Caducidad del cheque: 15/11/2019.</li>
                    </ul>

                    <div class="titul">3.	CHEQUE LAVADO COCHE DE 15 USOS:</div>
                    <ul>
                        <li>Código válido por 15 lavados básicos en las EESS de Repsol, Campsa y Petronor con túnel de lavado automático adheridas a la promoción.</li>
                        <li>Cheque canjeable 15 veces hasta agotar la totalidad de lavados disponibles. </li>
                        <li>EESS adheridas disponibles www.chequelavado.es/cobertura</li>
                        <li>Caducidad del cheque: 15/11/2019</li>
                    </ul>


                    <div class="titul">4.	ENTRADAS DE CINE:</div>
                    <ul>
                        <li>6 códigos, canjeables cada uno de ellos por una entrada de cine individual directamente en la taquilla de los cines adheridos a la promoción.
                        <li>Canjeables cualquier día de la semana en cualquier sesión, excepto sesiones 3D, ISENS, Imax, VIP, MacroXE, Salas Junior/Luxury/Premium o Luxe que supongan un aumento de precio respecto a la entrada convencional de CINE 2d/Digital, salvo que la taquilla del Cine donde se efectué la presentación permita al presentador pagar el recargo correspondiente a la entrada especial.</li>
                        <li>Listado de cines adheridos a la promoción disponibles en www.inticket.es </li>
                        <li>Canjeables en taquilla en el momento de su presentación, no admitiéndose reservas para días posteriores.</li>
                        <li>Caducidad de los códigos: 15/11/2019</li>
                    </ul>

                    <div class="titul">5.	CHEQUE REGALO DECATHLON 30€:</div>
                    <ul>
                        <li>Cheque Regalo Decathlon canjeable por 30€ en tiendas Decathlon de España o en www.decathlon.es</li>
                        <li>Se puede utilizar el saldo del cheque y realizar compras hasta agotar la totalidad del saldo. </li>
                        <li>El pago con el cheque puede efectuarse en una o varias veces hasta agotar el saldo del mismo.</li>
                        <li>Caducidad del cheque: 15/11/2019.</li>
                    </ul>


                    <div class="titul">6.	TARJETA REGALO DE 30€  EL CORTE INGLÉS:</div>
                    <ul>
                        <li>Cupón canjeable al presentarlo impreso en cualquier departamento de Atención al Cliente de los centros comerciales de El Corte Inglés o Hipercor en Península, Baleares e Islas Canarias por una Tarjeta Regalo por valor de 30€.</li>
                        <li>La Tarjeta Regalo de El Corte Inglés recibida al canjear su cupón es válida para su uso en El Corte Inglés, Hipercor, Supercor, Viajes El Corte Inglés, Bricor, Sfera, Óptica 2000, La Tienda en Casa y en la web www.elcorteingles.es</li>
                        <li>Caducidad del cupón: 15/11/2019</li>
                    </ul>

                    <div class="titul">7.	RELOJ MIYOTA CABALLERO:</div>
                    <ul>
                        <li>Elegante reloj para hombres con correa en negro con caja metálica, un bisel giratorio en aleación, bañado en plata y el logo Michelin en la esfera azul. </li>
                        <li>Movimiento Miyota (Japonés).  </li>
                        <li>Presentado en una caja de regalo de Michelin.</li>
                        <li>Producto limitado a 50 unidades.</li>
                        <li>En Península e Islas Baleares entrega en 7 días laborables tras la validación de la participación. En Ceuta, Melilla, Canarias y Andorra entrega en 2 semanas tras la validación de participación. </li>
                    </ul>



                    <br /><br />
                    Por la compra y montaje de 4 neumáticos MICHELIN de turismo, camioneta o 4x4/SUV, de llanta 16 o inferior, en los talleres de neumáticos de venta directa adheridos a la promoción, podrá elegir uno de los siguientes regalos, valorados en 40 €: <br /><br />

                    <div class="titul">1.	BIB GOURMAND 40€:  </div>
                    <ul>
                        <li>Código válido por un descuento de 40 € válido en cualquiera de los restaurantes Bib Gourmand publicados en www.cena-experiencia.es </li>
                        <li>La solicitud de reserva siempre deberá ser realizada con al menos 72h laborables de antelación, bajo las condiciones especificadas en el voucher promocional, y está sujeta a la disponibilidad del restaurante. </li>
                        <li>En caso de no acudir a la reserva de mesa, el código se perderá. </li>
                        <li>El código posee un valor de 40 € no reembolsables: en caso de que el importe de la factura del restaurante sea inferior al importe correspondiente al código, el importe de éste se considerará canjeado en su totalidad, sin que pueda ser reembolsado o reutilizado el importe no consumido. En caso de que el importe de la factura del restaurante sea superior al importe correspondiente al código, la diferencia se deberá abonar directamente en el restaurante. </li>
                        <li>Cada restaurante aplica su propia política de cancelación, el restaurante se reserva el derecho de admitir un cambio de reserva para otra fecha y hora.</li>
                        <li>El voucher con el código no es nominativo. La responsabilidad y custodia del código regalo corresponde exclusivamente al tenedor de la misma.</li>
                        <li>Caducidad del código: 15/11/2019.</li>
                    </ul>

                    <div class="titul">2.	ENTRADAS MOTO GP:</div>
                    <ul>
                        2.1. MOTO GP CATALUÑA:
                        <li>Código válido por una entrada para el Gran Premio Moster Energy de Cataluña 2019.</li>
                        <li>Entradas limitadas a 20 unidades.</li>
                        <li>Entradas de Pelouse.</li>
                        <li>Entradas válidas para los tres días del evento: viernes, sábado y domingo. (14,15 y 16 de junio de 2019).</li>
                        <li>Las entradas deberán solicitarse con al menos 2 semanas de antelación a la fecha del evento. (Siendo la última fecha hábil para su petición el 30/05/2019).</li>
                    </ul>

                    <ul>
                        2.2. MOTO GP ARAGÓN:
                        <li>Código válido por una entrada para el Gran Premio de Aragón 2019.</li>
                        <li>Entradas limitadas a 20 unidades.</li>
                        <li>Entradas de Pelouse.</li>
                        <li>Entradas válidas para los tres días del evento: viernes, sábado y domingo. (20,21 y 22 de septiembre de 2019).</li>
                        <li>Las entradas deberán solicitarse con al menos 2 semanas de antelación a la fecha del evento. (Siendo la última fecha hábil para su petición el 05/09/2019).</li>
                    </ul>

                    <ul>
                        2.3. MOTO GP VALENCIA:
                        <li>Código válido por una entrada para el Gran Premio de Motul de la Comunidad Valenciana 2019.</li>
                        <li>Entradas limitadas a 20 unidades.</li>
                        <li>Entradas de Tribuna Roja inferior.</li>
                        <li>Entradas válidas para los tres días del evento: viernes, sábado y domingo. (15,16 y 17 de noviembre de 2019).</li>
                        <li>Las entradas deberán solicitarse con al menos 2 semanas de antelación a la fecha del evento. (Siendo la última fecha hábil para su petición el 31/10/2019).</li>
                    </ul>

                    <div class="titul">3.	CHEQUE CARBURANTE 40 €: </div>
                    <ul>
                        <li>Código válido por 40€ en carburante en las EESS Repsol, Campsa y Petronor adheridas a la promoción. </li>
                        <li>Se puede canjear el cheque tantas veces como sea necesario hasta agotar la totalidad del saldo.</li>
                        <li>Cheques no acumulables entre sí. </li>
                        <li>EESS adheridas disponibles en www.chequecarburante.es/cobertura</li>
                        <li>Caducidad del cheque: 15/11/2019.</li>
                    </ul>

                    <div class="titul">4.	CHEQUE LAVADO COCHE DE 20 USOS:</div>
                    <ul>
                        <li>Código válido por 20 lavados básicos en las EESS de Repsol, Campsa y Petronor con túnel de lavado automático adheridas a la promoción.</li>
                        <li>Cheque canjeable 20 veces hasta agotar la totalidad de lavados disponibles. </li>
                        <li>EESS adheridas disponibles www.chequelavado.es/cobertura</li>
                        <li>Caducidad del cheque: 15/11/2019</li>
                    </ul>

                    <div class="titul">5.	ENTRADAS DE CINE:</div>
                    <ul>
                        <li>10 códigos, canjeables cada uno de ellos por una entrada de cine individual directamente en la taquilla de los cines adheridos a la promoción.</li>
                        <li>Canjeables cualquier día de la semana en cualquier sesión, excepto sesiones 3D, ISENS, Imax, VIP, MacroXE, Salas Junior/Luxury/Premium o Luxe que supongan un aumento de precio respecto a la entrada convencional de CINE 2d/Digital, salvo que la taquilla del Cine donde se efectué la presentación permita al presentador pagar el recargo correspondiente a la entrada especial.</li>
                        <li>Listado de cines adheridos a la promoción disponibles en www.inticket.es </li>
                        <li>Canjeables en taquilla en el momento de su presentación, no admitiéndose reservas para días posteriores.</li>
                        <li>Caducidad de los códigos: 15/11/2019</li>
                    </ul>


                    <div class="titul">6.	CHEQUE REGALO DECATHLON 40€:</div>
                    <ul>
                        <li>Cheque Regalo Decathlon canjeable por 40€ en tiendas Decathlon de España o en www.decathlon.es</li>
                        <li>Se puede utilizar el saldo del cheque y realizar compras hasta agotar la totalidad del saldo. </li>
                        <li>El pago con el cheque puede efectuarse en una o varias veces hasta agotar el saldo del mismo.</li>
                        <li>Caducidad del cheque: 15/11/2019.</li>
                    </ul>


                    <div class="titul">7.	TARJETA REGALO DE 40€ EL CORTE INGLÉS:</div>
                    <ul>
                        <li>Cupón canjeable al presentarlo impreso en cualquier departamento de Atención al Cliente de los centros comerciales de El Corte Inglés o Hipercor en Península, Baleares e Islas Canarias por una Tarjeta Regalo por valor de 40€.</li>
                        <li>La Tarjeta Regalo de El Corte Inglés recibida al canjear su cupón es válida para su uso en El Corte Inglés, Hipercor, Supercor, Viajes El Corte Inglés, Bricor, Sfera, Óptica 2000, La Tienda en Casa y en la web www.elcorteingles.es</li>
                        <li>Caducidad del cupón: 15/11/2019</li>
                    </ul>

                    <div class="titul">8.	AURICULARES BLUETOOTH BLAUPUNKT</div>
                    <ul>
                        <li>Elegantes cascos inalámbricos Blauplunkt de cuero sintético y metal, con logotipo Michelin en uno de los lados. </li>
                        <li>El juego incluye bolsa de terciopelo, cable de carga USB y conector para auriculares. Tensión nominal: DC 5V 0,5A Batería de iones de litio polímero 300mAh Frecuencia de radio: 2.402GHz-2.480GHz Potencia de sonido: 10mW x 2 Rango de frecuencia: 20Hz-20KHz Versión compatible con Bluetooth: 4.1 Distancia Bluetooth se mantiene conectado: 10metros Tiempo de reproducción de música: 14. Tiempo de carga completa: 3 horas</li>
                        <li>Producto limitado a 50 unidades.</li>
                        <li>En Península e Islas Baleares entrega en 7 días laborables tras la validación de la participación. En Ceuta, Melilla, Canarias y Andorra entrega en 2 semanas tras la validación de participación. </li>
                    </ul>




                    <br /><br />
                    Por la compra y montaje de 2 neumáticos MICHELIN de turismo, camioneta o 4x4/SUV, de llanta 16 o inferior, en los talleres de neumáticos de venta directa adheridos a la promoción, podrá elegir uno de los siguientes regalos, valorados en 20 €: <br /><br />

                    <div class="titul">1.	BIB GOURMAND 20€: </div>
                    <ul>
                        <li>Código válido por un descuento de 20 € válido en cualquiera de los restaurantes Bib Gourmand publicados en www.cena-experiencia.es  </li>
                        <li>La solicitud de reserva siempre deberá ser realizada con al menos 72h laborables de antelación, bajo las condiciones especificadas en el voucher promocional, y está sujeta a la disponibilidad del restaurante.  </li>
                        <li>En caso de no acudir a la reserva de mesa, el código se perderá.  </li>
                        <li>El código posee un valor de 20 € no reembolsables: en caso de que el importe de la factura del restaurante sea inferior al importe correspondiente al código, el importe de éste se considerará canjeado en su totalidad, sin que pueda ser reembolsado o reutilizado el importe no consumido. En caso de que el importe de la factura del restaurante sea superior al importe correspondiente al código, la diferencia se deberá abonar directamente en el restaurante.  </li>
                        <li>Cada restaurante aplica su propia política de cancelación, el restaurante se reserva el derecho de admitir un cambio de reserva para otra fecha y hora.  </li>
                        <li>El voucher con el código no es nominativo. La responsabilidad y custodia del código regalo corresponde exclusivamente al tenedor de la misma. </li>
                        <li>Caducidad del código: 15/11/2019. </li>
                    </ul>


                    <div class="titul">2.	CHEQUE CARBURANTE 20 €: </div>
                    <ul>
                        <li>Código válido por 20€ en carburante en las EESS Repsol, Campsa y Petronor adheridas a la promoción.  </li>
                        <li>Se puede canjear el cheque tantas veces como sea necesario hasta agotar la totalidad del saldo. </li>
                        <li>Cheques no acumulables entre sí.  </li>
                        <li>EESS adheridas disponibles en www.chequecarburante.es/cobertura </li>
                        <li>Caducidad del cheque: 15/11/2019. </li>
                    </ul>


                    <div class="titul">3.	CHEQUE LAVADO COCHE DE 10 USOS:</div>
                    <ul>
                        <li>Código válido por 10 lavados básicos en las EESS de Repsol, Campsa y Petronor con túnel de lavado automático adheridas a la promoción. </li>
                        <li>Cheque canjeable 10 veces hasta agotar la totalidad de lavados disponibles.  </li>
                        <li>EESS adheridas disponibles www.chequelavado.es/cobertura </li>
                        <li>Caducidad del cheque: 15/11/2019 </li>
                    </ul>

                    <div class="titul">4.	ENTRADAS DE CINE:</div>
                    <ul>
                        <li>5 códigos, canjeables cada uno de ellos por una entrada de cine individual directamente en la taquilla de los cines adheridos a la promoción. </li>
                        <li>Canjeables cualquier día de la semana en cualquier sesión, excepto sesiones 3D, ISENS, Imax, VIP, MacroXE, Salas Junior/Luxury/Premium o Luxe que supongan un aumento de precio respecto a la entrada convencional de CINE 2d/Digital, salvo que la taquilla del Cine donde se efectué la presentación permita al presentador pagar el recargo correspondiente a la entrada especial. </li>
                        <li>Listado de cines adheridos a la promoción disponibles en www.inticket.es  </li>
                        <li>Canjeables en taquilla en el momento de su presentación, no admitiéndose reservas para días posteriores. </li>
                        <li>Caducidad de los códigos: 15/11/2019 </li>
                    </ul>

                    <div class="titul">5.	CHEQUE REGALO DECATHLON 20€:</div>
                    <ul>
                        <li>Cheque Regalo Decathlon canjeable por 20€ en tiendas Decathlon de España o en www.decathlon.es </li>
                        <li>Se puede utilizar el saldo del cheque y realizar compras hasta agotar la totalidad del saldo.  </li>
                        <li>El pago con el cheque puede efectuarse en una o varias veces hasta agotar el saldo del mismo. </li>
                        <li>Caducidad del cheque: 15/11/2019. </li>
                    </ul>

                    <div class="titul">6.	TARJETA REGALO DE 20€  EL CORTE INGLÉS:</div>
                    <ul>
                        <li>Cupón canjeable al presentarlo impreso en cualquier departamento de Atención al Cliente de los centros comerciales de El Corte Inglés o Hipercor en Península, Baleares e Islas Canarias por una Tarjeta Regalo por valor de 20€. </li>
                        <li>La Tarjeta Regalo de El Corte Inglés recibida al canjear su cupón es válida para su uso en El Corte Inglés, Hipercor, Supercor, Viajes El Corte Inglés, Bricor, Sfera, Óptica 2000, La Tienda en Casa y en la web www.elcorteingles.es </li>
                        <li>Caducidad del cupón: 15/11/2019 </li>
                    </ul>

                    <div class="titul">7.	FIGURA MUÑECO MICHELIN</div>
                    <ul>
                        <li>Figura decorativa del Muñeco Michelin.   </li>
                        <li>Presentado en una caja regalo con parte transparente frontal.   </li>
                        <li>Dimensiones: 20x14x10cm </li>
                        <li>Producto limitado a 50 unidades. </li>
                        <li>En Península e Islas Baleares entrega en 7 días laborables tras la validación de la participación. En Ceuta, Melilla, Canarias y Andorra entrega en 2 semanas tras la validación de participación.  </li>
                    </ul>


                    <br /><br />	Por la compra y montaje de 2 neumáticos MICHELIN de Moto, de las gamas Power RS/RS+, Power 3, Road 5, CUSTOM y Anakee Adventure, en los talleres de neumáticos de venta directa adheridos a la promoción, podrá elegir uno de los siguientes regalos, valorados en 30 €: <br /><br />

                    <div class="titul">1.	BIB GOURMAND: </div>
                    <ul>
                        <li>Código válido por un descuento de 30 € válido en cualquiera de los restaurantes Bib Gourmand publicados en www.cena-experiencia.es  </li>
                        <li>La solicitud de reserva siempre deberá ser realizada con al menos 72h laborables de antelación, bajo las condiciones especificadas en el voucher promocional, y está sujeta a la disponibilidad del restaurante.  </li>
                        <li>En caso de no acudir a la reserva de mesa, el código se perderá.  </li>
                        <li>El código posee un valor de 30 € no reembolsables: en caso de que el importe de la factura del restaurante sea inferior al importe correspondiente al código, el importe de éste se considerará canjeado en su totalidad, sin que pueda ser reembolsado o reutilizado el importe no consumido. En caso de que el importe de la factura del restaurante sea superior al importe correspondiente al código, la diferencia se deberá abonar directamente en el restaurante.  </li>
                        <li>Cada restaurante aplica su propia política de cancelación, el restaurante se reserva el derecho de admitir un cambio de reserva para otra fecha y hora.  </li>
                        <li>El voucher con el código no es nominativo. La responsabilidad y custodia del código regalo corresponde exclusivamente al tenedor de la misma. </li>
                        <li>Caducidad del código: 15/11/2019. </li>
                    </ul>


                    <div class="titul">2.	CHEQUE CARBURANTE 30 €: </div>
                    <ul>
                        <li>Código válido por 30€ en carburante en las EESS Repsol, Campsa y Petronor adheridas a la promoción.  </li>
                        <li>Se puede canjear el cheque tantas veces como sea necesario hasta agotar la totalidad del saldo. </li>
                        <li>Cheques no acumulables entre sí.  </li>
                        <li>EESS adheridas disponibles en www.chequecarburante.es/cobertura </li>
                        <li>Caducidad del cheque: 15/11/2019. </li>
                    </ul>

                    <div class="titul">3.	CHEQUE LAVADO COCHE DE 15 USOS:</div>
                    <ul>
                        <li>Código válido por 15 lavados básicos en las EESS de Repsol, Campsa y Petronor con túnel de lavado automático adheridas a la promoción. </li>
                        <li>Cheque canjeable 15 veces hasta agotar la totalidad de lavados disponibles.  </li>
                        <li>EESS adheridas disponibles www.chequelavado.es/cobertura </li>
                        <li>Caducidad del cheque: 15/11/2019 </li>
                    </ul>


                    <div class="titul">4.	ENTRADAS DE CINE:</div>
                    <ul>
                        <li>6 códigos, canjeables cada uno de ellos por una entrada de cine individual directamente en la taquilla de los cines adheridos a la promoción. </li>
                        <li>Canjeables cualquier día de la semana en cualquier sesión, excepto sesiones 3D, ISENS, Imax, VIP, MacroXE, Salas Junior/Luxury/Premium o Luxe que supongan un aumento de precio respecto a la entrada convencional de CINE 2d/Digital, salvo que la taquilla del Cine donde se efectué la presentación permita al presentador pagar el recargo correspondiente a la entrada especial. </li>
                        <li>Listado de cines adheridos a la promoción disponibles en www.inticket.es  </li>
                        <li>Canjeables en taquilla en el momento de su presentación, no admitiéndose reservas para días posteriores. </li>
                        <li>Caducidad de los códigos: 15/11/2019 </li>

                        <div class="titul">5.	CHEQUE REGALO DECATHLON 30€:</div>
                        <ul>
                            <li>Cheque Regalo Decathlon canjeable por 30€ en tiendas Decathlon de España o en www.decathlon.es </li>
                            <li>Se puede utilizar el saldo del cheque y realizar compras hasta agotar la totalidad del saldo.  </li>
                            <li>El pago con el cheque puede efectuarse en una o varias veces hasta agotar el saldo del mismo. </li>
                            <li>Caducidad del cheque: 15/11/2019 </li>
                        </ul>


                        <div class="titul">6.	TARJETA REGALO DE 30€ EL CORTE INGLÉS:</div>
                        <ul>
                            <li>Cupón canjeable al presentarlo impreso en cualquier departamento de Atención al Cliente de los centros comerciales de El Corte Inglés o Hipercor en Península, Baleares e Islas Canarias por una Tarjeta Regalo por valor de 30€. </li>
                            <li>La Tarjeta Regalo de El Corte Inglés recibida al canjear su cupón es válida para su uso en El Corte Inglés, Hipercor, Supercor, Viajes El Corte Inglés, Bricor, Sfera, Óptica 2000, La Tienda en Casa y en la web www.elcorteingles.es </li>
                            <li>Caducidad del cupón: 15/11/2019 </li>
                        </ul>

                        <div class="titul">7.	RELOJ MIYOTA CABALLERO:</div>
                        <ul>
                            <li>Elegante reloj para hombres con correa en negro con caja metálica, un bisel giratorio en aleación, bañado en plata y el logo Michelin en la esfera azul. </li>
                            <li>Movimiento Miyota (Japonés).   </li>
                            <li>Presentado en una caja de regalo de Michelin. </li>
                            <li>Producto limitado a 50 unidades. </li>
                            <li>En Península e Islas Baleares entrega en 7 días laborables tras la validación de la participación. En Ceuta, Melilla, Canarias y Andorra entrega en 2 semanas tras la validación de participación.  </li>
                        </ul>



                        <br />
                        <br />	Por la compra y montaje de 1 neumático MICHELIN de Moto, de las gamas Power RS/RS+, Power 3, Road 5, CUSTOM y Anakee Adventure, en los talleres de neumáticos de venta directa adheridos a la promoción, podrá elegir uno de los siguientes regalos, valorados en 15 €:
                        <br />
                        <br />

                        <div class="titul">1.	BIB GOURMAND 15€: </div>
                        <ul>
                            <li>Código válido por un descuento de 15 € válido en cualquiera de los restaurantes Bib Gourmand publicados en www.cena-experiencia.es  </li>
                            <li>La solicitud de reserva siempre deberá ser realizada con al menos 72h laborables de antelación, bajo las condiciones especificadas en el voucher promocional, y está sujeta a la disponibilidad del restaurante.  </li>
                            <li>En caso de no acudir a la reserva de mesa, el código se perderá.  </li>
                            <li>El código posee un valor de 15 € no reembolsables: en caso de que el importe de la factura del restaurante sea inferior al importe correspondiente al código, el importe de éste se considerará canjeado en su totalidad, sin que pueda ser reembolsado o reutilizado el importe no consumido. En caso de que el importe de la factura del restaurante sea superior al importe correspondiente al código, la diferencia se deberá abonar directamente en el restaurante.  </li>
                            <li>Cada restaurante aplica su propia política de cancelación, el restaurante se reserva el derecho de admitir un cambio de reserva para otra fecha y hora.  </li>
                            <li>El voucher con el código no es nominativo. La responsabilidad y custodia del código regalo corresponde exclusivamente al tenedor de la misma. </li>
                            <li>Caducidad del código: 15/11/2019. </li>
                        </ul>

                        <div class="titul">2.	CHEQUE CARBURANTE 15 €: </div>
                        <ul>
                            <li>Código válido por 15€ en carburante en las EESS Repsol, Campsa y Petronor adheridas a la promoción.  </li>
                            <li>Se puede canjear el cheque tantas veces como sea necesario hasta agotar la totalidad del saldo. </li>
                            <li>Cheques no acumulables entre sí. </li>
                            <li>EESS adheridas disponibles en www.chequecarburante.es/cobertura </li>
                            <li>Caducidad del cheque: 15/11/2019. </li>
                        </ul>

                        <div class="titul">3.	CHEQUE LAVADO COCHE DE 8 USOS:</div>
                        <ul>
                            <li>Código válido por 8 lavados básicos en las EESS de Repsol, Campsa y Petronor con túnel de lavado automático adheridas a la promoción. </li>
                            <li>Cheque canjeable 8 veces hasta agotar la totalidad de lavados disponibles.  </li>
                            <li>EESS adheridas disponibles www.chequelavado.es/cobertura </li>
                            <li>Caducidad del cheque: 15/11/2019 </li>
                        </ul>

                        <div class="titul">4.	ENTRADAS DE CINE:</div>
                        <ul>
                            <li>4 códigos, canjeables cada uno de ellos por una entrada de cine individual directamente en la taquilla de los cines adheridos a la promoción. </li>
                            <li>Canjeables cualquier día de la semana en cualquier sesión, excepto sesiones 3D, ISENS, Imax, VIP, MacroXE, Salas Junior/Luxury/Premium o Luxe que supongan un aumento de precio respecto a la entrada convencional de CINE 2d/Digital, salvo que la taquilla del Cine donde se efectué la presentación permita al presentador pagar el recargo correspondiente a la entrada especial. </li>
                            <li>Listado de cines adheridos a la promoción disponibles en www.inticket.es  </li>
                            <li>Canjeables en taquilla en el momento de su presentación, no admitiéndose reservas para días posteriores. </li>
                            <li>Caducidad de los códigos: 15/11/2019 </li>
                        </ul>

                        <div class="titul">5.	CHEQUE REGALO DECATHLON 15€:</div>
                        <ul>
                            <li>Cheque Regalo Decathlon canjeable por 15€ en tiendas Decathlon de España o en www.decathlon.es </li>
                            <li>Se puede utilizar el saldo del cheque y realizar compras hasta agotar la totalidad del saldo.  </li>
                            <li>El pago con el cheque puede efectuarse en una o varias veces hasta agotar el saldo del mismo. </li>
                            <li>Caducidad del cheque: 15/11/2019. </li>
                        </ul>

                        <div class="titul">6.	TARJETA REGALO DE 15€ EL CORTE INGLÉS:</div>
                        <ul>
                            <li>Cupón canjeable al presentarlo impreso en cualquier departamento de Atención al Cliente de los centros comerciales de El Corte Inglés o Hipercor en Península, Baleares e Islas Canarias por una Tarjeta Regalo por valor de 15€. </li>
                            <li>La Tarjeta Regalo de El Corte Inglés recibida al canjear su cupón es válida para su uso en El Corte Inglés, Hipercor, Supercor, Viajes El Corte Inglés, Bricor, Sfera, Óptica 2000, La Tienda en Casa y en la web www.elcorteingles.es </li>
                            <li>Caducidad del cupón: 15/11/2019 </li>
                        </ul>

                        <div class="titul">7.	BOLSA DE MANO MOTORSPORT:</div>
                        <ul>
                            <li>Bolsa de mano Michelin Motorsport. </li>
                            <li>Bolsa muy útil para viajes cortos o para el día a día. </li>
                            <li>Cuenta con bolsillos laterales y frontales, un compartimento principal con cremallera, 2 asas cortas y una correa larga ajustable y desmontable.
                            <li>Producto limitado a 50 unidades. </li>
                            <li>En Península e Islas Baleares entrega en 7 días laborables tras la validación de la participación. En Ceuta, Melilla, Canarias y Andorra entrega en 2 semanas tras la validación de participación.  </li>
                        </ul>






                </div>




                <div class="subtitLeg">MECÁNICA DE LA PROMOCIÓN</div>
                <div class="txtLeg">
                    Para recibir el regalo es necesario registrar los datos del usuario y subir la factura acreditativa de la compra de los neumáticos en promociones.michelin.es con fecha límite el 15 de mayo de 2019. <br /><br />

                    La fecha de la factura debe estar comprendida entre el 18 de marzo y el 30 de abril si la compra se ha realizado en talleres Euromaster y Rodi adheridos a la promoción; entre el 25 de marzo y el  30 de abril si la compra se ha realizado en talleres Vialider adheridos a la promoción, y entre el 1 y el 30 de abril si la compra se ha realizado en cualquier otro taller adherido a la promoción.<br /><br />

                    La fecha límite para la gestión de incidencias es el 31 de mayo de 2019.<br /><br />

                    Una vez verificado el cumplimiento de las bases, la factura de compra y la información suministrada, el participante obtendrá por email el código promocional para disfrutar del   regalo seleccionado, en un plazo no superior a una semana desde la fecha de verificación. <br />
                    En el caso de los regalos físicos el plazo de entrega es de 7 días para Península e Islas Baleares. En Ceuta, Melilla, Canarias y Andorra entrega en 2 semanas tras la validación de participación. Una vez validada la participación y  gestionado el envío del regalo, no se admitirán cambios.
                </div>

                <div class="subtitLeg">EXENCION DE RESPONSABILIDAD POR MAL FUNCIONAMIENTO DE LA RED </div>
                <div class="txtLeg">
                    MICHELIN no se hace responsable del mal funcionamiento de las redes de comunicación electrónicas que impidan el normal desarrollo de la promoción por causas ajenas a la empresa y especialmente por actos externos de mala fe. <br />
                    Tampoco será responsable por los problemas de transmisión o pérdida de datos no imputables
                </div>

                <div class="subtitLeg">TRATAMIENTO DE DATOS DE CARÁCTER PERSONAL.</div>
                <div class="txtLeg">
                    Responsable del tratamiento:<br />
                    Michelin España Portugal, S.A., sociedad con domicilio en Avda. de los Encuartes, 19, Tres Cantos 28760 Madrid, y teléfono 914105000.<br />
                    Datos de contacto del Delegado de Protección de Datos: dpd@michelin.com<br />

                    Finalidad del tratamiento:<br />
                    Los datos de carácter personal serán tratados con las siguientes finalidades:<br /><br />
                    <ul>
                        <li>Llevar a cabo e informar de la promoción PRIMAVERA MICHELIN 2019 a que se refieren las presentes bases, gestionar la participación y entrega de premios a los participantes.</li>
                        <li>Enviar por Michelin España Portugal, S.A., incluso por medios electrónicos (i.e. email, SMS, MMS) comunicaciones comerciales, promocionales o de información sobre productos o servicios y novedades relacionados con el sector de neumáticos de turismo, vehículos comerciales, 4x4/SUV  y moto.</li>
                    </ul>
                    Los datos se conservarán por el tiempo necesario para cumplir con las finalidades descritas salvo que los interesados revoquen el consentimiento, y mientras existan responsabilidades legales.<br /><br />

                    Legitimación del tratamiento:<br />
                    La base jurídica que permite a los responsables del tratamiento tratar los datos de los participantes es el consentimiento de los mismos para las finalidades descritas del tratamiento. <br /><br />

                    Destinatarios de los datos:<br />
                    Los destinatarios de los datos podrán ser los proveedores del responsable del tratamiento que colaboran en la realización de la promoción, entrega de premios y envío de información comercial, en su caso.<br /><br />

                    Derechos de los participantes:<br />
                    Los interesados pueden ejercitar los derechos de acceso, rectificación, supresión, oposición, limitación del tratamiento, portabilidad de los datos, revocación del consentimiento y a acudir a la autoridad de control para presentar una reclamación en los términos previstos en la legislación vigente, dirigiéndose a: Michelin España Portugal, S.A., Promoción  PRIMAVERA MICHELIN 2019, Avda. de los Encuartes, 19, Tres Cantos, Madrid, o a través de la dirección electrónica marketing.mail@comunicaciones.michelin.es<br /><br />

                    Más información de la Política de Privacidad en https://www.michelin.es/contenido-web/confidencialidad
                </div>



                <div class="subtitLeg">LEGISLACION APLICABLE </div>
                <div class="txtLeg">Esta promoción se rige por la ley española común. Cualquier controversia que surgiere en relación con la misma se somete a la jurisdicción de los Juzgados y Tribunales de la Villa Madrid, salvo que corresponda otra jurisdicción.  </div>



                <div class="subtitLeg">ACEPTACION DE BASES </div>
                <div class="txtLeg">La participación implica la aceptación de estas bases por lo que la manifestación, en el sentido de no aceptación de las mismas, implicará la exclusión del participante y, como consecuencia de la misma, Michelin quedará liberada del cumplimiento de la obligación contraída con dicho participante. </div>





            </div>

        </div>
    </div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $("body").addClass("bindex_leg");
    </script>
}