@{
    ViewData["Title"] = "Política de Cokies | Vuelta al Cole | Michelin";
}
@section Styles{
    <style>
        td {
            padding: 5px 10px;
            border-bottom: 1px solid #DDD
        }

        th {
            border: 1px solid #DDD;
            text-align: center
        }

        tr {
            border: 1px solid #DDD;
        }
    </style>
}
    <div class="content contentMichelinLeg">
        <div class="container containerMichelinLeg">
            <div id="containerLeg">
                <div class="titLeg">POLÍTICA DE COOKIES</div>

                <div class="subtitLeg">1. Qué son las cookies</div>
                <div class="txtLeg">Las cookies son un archivo de texto, un código o un elemento de software que guarda información relativa al historial y el patrón de navegación de su terminal en Internet. Se encuentran bajo el control de su navegador de Internet y a veces llevan un número específico y aleatorio. Puede leerlo, eliminarlo o modificarlo.<br /></div>

                <div class="subtitLeg">2. ¿Por qué utiliza Michelin cookies?</div>
                <div class="txtLeg">Michelin busca de forma ininterrumpida nuevas formas de mejorar su sitio o sitios web y de ofrecerle, como usuario de Internet, un servicio y un uso mejores. De este modo, tal y como se ha indicado anteriormente, Michelin hace uso de diferentes tipos de cookies que garantizan el consentimiento previo del usuario de Internet (cookies de tipo comercial) antes de que se instalen las cookies en el terminal.<br /></div>

                <div class="subtitLeg">3. ¿Cómo le informa Michelin de las cookies que utiliza?</div>
                <div class="txtLeg">
                    Cuando entra por primera vez en el sitio web www.michelin.es, el aviso legal que aparece le conducirá a una página que le proporcionará toda la información sobre las cookies que el sitio habilita y utiliza. De cualquier manera, usted tiene el control de las mismas, lo que hace posible que pueda rechazarlas o eliminarlas.<br /><br />
                    <strong>Ajustes de las cookies</strong><br /><br />
                    <strong>Cookies estrictamente necesarias</strong><br /><br />
                    A continuación, se detalla una lista de cookies que hemos definido como funcionales: <br />
                    <table>
                        <tr>
                            <th>NOMBRE COOKIES</th>
                            <th>FINALIDAD</th>
                            <th>DURACIÓN</th>
                            <th>TITULAR</th>
                        </tr>
                        <tr>
                            <td>_gat</td>
                            <td>(Google Analytics) Limita el porcentaje de solicitudes</td>
                            <td>1 minuto</td>
                            <td>Google</td>
                        </tr>
                        <tr>
                            <td>_gid</td>
                            <td>(Google Analytics) Distingue a los usuarios.</td>
                            -
                            <td>24 horas</td>
                            <td>Google</td>
                        </tr>
                        <tr>
                            <td>_ga</td>
                            <td>(Google Analytics) Distingue a los usuarios.</td>
                            <td>2 años</td>
                            <td>Google</td>
                        </tr>
                        <tr>
                            <td>PHPSESSID</td>
                            <td>PHP Permite conservar los datos serializados de estado</td>
                            <td>Sesión</td>
                            <td>Cheque Motiva</td>
                        </tr>
                        <tr>
                            <td>chmtvmichpromospzz_cookies</td>
                            <td>Control de usabilidad y flujo de la web (parámetros de selección del tipo y número de neumáticos, tipo de premio)</td>
                            <td>1 año</td>
                            <td>Cheque Motiva</td>
                        </tr>
                    </table><br />
                </div>

                <div class="subtitLeg">4. ¿Cómo rechazar o inhabilitar este tipo de cookies?</div>

                <div class="txtLeg">
                    a. En un ordenador<br />
                    Hay dos formas de inhabilitar este tipo de cookies.<br />
                    Por un lado, puede consultar las cookies que ya estén habilitadas en su terminal usando el
                    navegador y eliminar los tipos de cookies uno por uno, tal y como se indica en el banner, o
                    todas a las vez.<br />
                    Navegador Safari de Apple: desde la sección "Confidencialidad" del menú "Preferencias" y
                    en la sección "Cookies y otros datos de sitios web".<br />
                    Navegador Chrome de Google: desde la sección “Confidencialidad” del menú "Parámetros", la subsección "Parámetros de contenido" y la sección "Cookies y datos se sitios web".<br />
                    Navegador Internet Explorer: en el menú "Herramientas", seleccione "Opciones de Internet", "General", "Historial de navegación" y "Parámetros", después abra la ventana "Parámetros de archivos temporales e historial de Internet" y finalmente "Mostrar archivos".<br />
                    Navegador Firefox de Mozilla: en el menú "Herramientas", seleccione la sección "Opciones", la subsección "Privacidad" y la funcionalidad "Eliminar cookies específicas".<br />
                    Además, puede programar su navegador de Internet para bloquear o recibir advertencias sobre la habilitación de cookies en su terminal. Los pasos a seguir varían según el tipo de navegador, en cuya sección "Ayuda" podrá encontrar instrucciones al respecto. La programación de su navegador puede realizarse de forma independiente en cada uno de los terminales que utilice para visitar los sitios web de Michelin.<br /><br />
                    b. En un smartphone o tableta:<br />
                    Inhabilite las cookies de la siguiente manera:<br />
                    Navegador Android: abra la pantalla "Inicio", pulse el icono del navegador web, el botón "Menú" y "Ajustes". Su dispositivo lo conducirá a un menú de ajustes disponibles o le ofrecerá una de las tres opciones detalladas a continuación. Pulse la opción que aparezca: en la opción Privacidad y seguridad, Privacidad, Seguridad, pulse "Borrar caché", "Sí" para confirmar, "Borrar todos los datos de cookies", "Sí" para confirmar, pulse el botón de
                    "Inicio" para volver a la pantalla de Inicio y reinicie el dispositivo apagándolo y encendiéndolo de nuevo.<br />
                    Navegador Chrome de Google: en la barra de herramientas del navegador, haga clic en "Menú de Chrome", "Más herramientas" y "Eliminar datos de navegación". En la casilla que aparezca, haga clic en la casilla de control "Cookies y otros datos del sitio y de complementos" e "Imágenes y archivos de la memoria caché". Utilice el menú de la parte superior para seleccionar los datos que desee eliminar. Elija "Desde el principio" para
                    eliminar todo. Haga clic en "Eliminar datos de navegación".<br />
                    iOS 8 de Apple: Haga clic en el botón "Inicio", pulse "Ajustes", desplácese hacia abajo en Safari y pulse "Borrar historial y datos de sitios web". Recibirá un mensaje de advertencia. Pulse "Borrar historial y datos" para confirmar, haga clic en el botón "Inicio" para volver a la pantalla de "Inicio" y reinicie el dispositivo apagándolo y encendiéndolo de nuevo. La inhabilitación o el bloqueo de las cookies utilizadas en los sitios web de Michelin pueden afectar el uso de los mismos o incluso evitarlo.
                </div>
                <div class="subtitLeg">5. ¿Qué tipo de cookies utiliza Michelin?</div>
                <div class="txtLeg">
                    Las cookies pueden ser temporales y estar habilitadas únicamente durante la navegación en el sitio web o pueden ser permanentes, es decir, pueden durar más en función del tiempo atribuido y los parámetros de su navegador de Internet. Existen numerosos tipos de cookies, que pueden clasificarse en cuatro grupos definidos a continuación.<br />
                    - Cookies estrictamente necesarias <br />
                    cookies indispensables debido a que la funcionalidad del sitio web depende de su existencia. La desactivación de las mismas causará dificultades importantes a la hora de utilizar el sitio web o incluso hará que sea imposible usar los servicios que oferta. Las cookies estrictamente necesarias no guardan información al salir del sitio. A modo de ejemplo, permiten detectar terminales para enviar la comunicación, asignar números a los "paquetes" de datos para enviarlos en la orden solicitada, detectar errores de transmisión o pérdidas de datos.<br />
                    - Cookies funcionales<br />
                    estas cookies se usan exclusivamente para prestar un servicio de comunicación electrónica cuando lo solicite el usuario de Internet. Si se inhabilitan estas cookies, será imposible prestar este servicio. Se conserva la información después de navegar en el sitio web y puede transmitirse a colaboradores únicamente para proporcionar suministros necesarios para los servicios. Por ejemplo, pueden tratarse de cookies que guarden las preferencias del usuario como el idioma escogido, de cookies que guarden la "sesión del usuario" o de cookies que pongan a su disposición una "cesta de la compra virtual".<br />
                    - Cookies analíticas y de medición de la audiencia<br />
                    cookies que ayudan a reconocer visitantes del sitio web por medio de las visitas que estos realicen.  stas cookies solo almacenan la ID (específica de cada cookie) de un usuario de Internet y esta nunca se utiliza para recopilar información que lleve el nombre de los visitantes. Son cookies que registran las páginas visitadas por el usuario, la duración de cada visita y los mensajes de error que aparezcan, que pueden contribuir al aumento del rendimiento de los sitios web de Michelin. Los colaboradores pueden habilitar y gestionar las cookies analíticas, pero Michelin limita su uso debido a las estadísticas de análisis solicitadas.<br />
                </div>



            </div>



        </div>




    </div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $("body").addClass("bindex_leg");
    </script>
}