@{
    ViewData["Title"] = "Preguntas Frecuentes | Vuelta al Cole | Michelin";
}
@section Styles{
    <style>

    </style>
}
    <div class="content contentMichelinLeg">
        <div class="container containerMichelinLeg">
            <div id="containerLeg">
                <div class="titLeg">Preguntas Frecuentes</div>

                <div class="subtitLeg">¿En qué consiste la promoción?</div>
                <div class="txtLeg">
                    Michelin organiza la siguiente promoción que contará con tres fechas de comienzo  diferentes:<br />
                    Del 18 de marzo al 30 de abril para los usuarios que compren en talleres Euromaster y Rodi adheridos a la promoción.<br />
                    Del 25 de marzo al 30 de abril para los usuarios que compren en talleres Vialider adheridos a la promoción.<br />
                    Del 1 al 30 de abril para los usuarios que compren en el resto de talleres adheridos a la promoción.<br /><br />

                    Durante el periodo promocional indicado, tendrán la posibilidad de participar en la presente promoción toda aquella persona mayor de edad que compre y monte neumáticos de la marca MICHELIN  de las gamas Turismo, Camioneta, 4x4/SUV y de Moto (exclusivamente de las gamas Power RS/RS+, Power 3, Road 5, CUSTOM y Anakee Adventure) en los talleres de neumáticos de venta directa adheridos a la promoción. <br /><br />

                    Neumáticos de Coche, Camioneta, 4x4/SUV:<br />
                    Por la compra de 4 neumáticos MICHELIN  de llanta mayor o igual a 17”, el usuario recibirá el importe de 60€ de regalo y por la compra de 2 neumáticos MICHELIN de llanta mayor o igual a 17” recibirá 30€ de regalo. Por la compra de 4 neumáticos MICHELIN de llanta menor o igual a 16”, el usuario recibirá el importe de 40€ de regalo y por la compra de 2 neumáticos MICHELIN de llanta menor o igual a 16”, recibirá 20€ de regalo.  <br /><br />

                    Neumáticos de Moto (exclusivamente de las gamas Power RS/RS+, Power 3, Road 5, CUSTOM y Anakee Adventure):<br />
                    Por la compra de 2 neumáticos MICHELIN de moto de las gamas Power RS/RS+, Power 3, Road 5, CUSTOM y Anakee Adventure el usuario recibirá 30€ de regalo y por la compra de 1 solo neumático, recibirá 15€ de regalo.<br /><br />

                    Los neumáticos deben ser destinados para el autoconsumo y no para la reventa ni para vehículos de flotas de renting.
                </div>

                <div class="subtitLeg">¿Cómo sé que talleres participan en la promoción?</div>
                <div class="txtLeg">
                    Encontrarás el listado de talleres adheridos a la promoción en el menú de la web de la promoción: promociones.michelin.es
                    Solo serán válidas para obtener el regalo las compras de neumáticos MICHELIN realizadas en los talleres adheridos a la promoción.
                </div>

                <div class="subtitLeg">Una vez realizada la compra de neumáticos, ¿dónde puedo registrarme y qué plazo tengo para hacerlo y conseguir mi regalo?</div>
                <div class="txtLeg">
                    Para recibir el regalo es necesario registrar los datos del usuario y subir la factura acreditativa de la compra de los neumáticos en promociones.michelin.es con fecha límite el 15 de mayo de 2019.<br />
                    La fecha de la factura debe estar comprendida entre el 18 de marzo y el 30 de abril si la compra se ha realizado en talleres Euromaster y Rodi adheridos a la promoción; entre el 25 de marzo y el  30 de abril si la compra se ha realizado en talleres Vialider adheridos a la promoción, y entre el 1 y el 30 de abril si la compra se ha realizado en cualquier otro taller adherido a la promoción.<br />
                    No olvides adjuntar la copia de la factura acreditativa del cambio de neumáticos MICHELIN, que puedes escanear o fotografiar. <br />
                    La fecha límite para la gestión de incidencias es el 31 de mayo de 2019.
                </div>

                <div class="subtitLeg">¿Qué regalos hay?</div>
                <div class="txtLeg">
                    Los regalos que se gestionan vía código promocional son: Cheque Carburante, Saldo restaurantes BIB Gourmand, Saldo Decathlon, Entradas Cine, Pack  de Lavado  Coche, Entradas Moto GP y Saldo El Corte Inglés. <br />
                    Los regalos físicos son: Bolsa de mano Motorsport, Figura Muñeco Michelin, Reloj Caballeros, Auriculares Bluetooth Blaupunkt y Mochila antirrobo.<br /><br />

                    Encontrarás   información detallada de todos los regalos en promociones.michelin.es.
                </div>

                <div class="subtitLeg">¿Cómo elijo el regalo que quiero?</div>
                <div class="txtLeg">En el mismo momento del registro de la compra  tendrás la opción de elegir tu regalo.</div>

                <div class="subtitLeg">Una vez  registrado, ¿cuándo recibiré mi regalo?</div>
                <div class="txtLeg">
                    Una vez verificado el cumplimiento de las bases, la factura de compra y la información suministrada, el participante obtendrá por email el código promocional para disfrutar del   regalo seleccionado, en un plazo no superior a una semana desde la fecha de verificación. <br />
                    En el caso de los regalos físicos el plazo de entrega es de 7 días. Una vez validada la participación y  gestionado el envío del regalo, no se admitirán cambios.
                </div>


                <div class="subtitLeg">¿Hay límite de regalos?</div>
                <div class="txtLeg">
                    La promoción está  limitada a 75.000 unidades de neumáticos MICHELIN de las gamas Turismo, Camioneta, 4x4/SUV y de Moto, exclusivamente de las gamas Power RS/RS+, Power 3, Road 5, CUSTOM y Anakee Adventure.<br />
                    Las unidades de algunos regalos son limitadas.
                </div>



                <div class="subtitLeg">Si tengo dudas, ¿cómo las puedo resolver?</div>
                <div class="txtLeg">
                    Contáctanos a través del email infomichelin@promocionprimavera.es<br />
                    También resolveremos tus dudas, de lunes a jueves en horario de 9:00 a 14:00 h y de 16:00 a 19:00 h y los viernes de 9:00 a 14:00 h (excepto festivos nacionales y de la Comunidad de Madrid)  en el teléfono 900264257.
                </div>


            </div>
        </div>
    </div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $("body").addClass("bindex_leg");
    </script>
}