@{
    ViewData["Title"] = "Política de Privacidad | Vuelta al Cole | Michelin";
}
@section Styles{
    <style>
        td {
            padding: 5px 10px;
            border-bottom: 1px solid #DDD
        }

        th {
            border: 1px solid #DDD;
            text-align: center
        }
    </style>
}
<div class="content contentMichelinLeg">
    <div class="container containerMichelinLeg">
        <div id="containerLeg">
            <div class="titLeg">POLÍTICA DE PRIVACIDAD</div>

            <div class="txtLeg">
                Michelin aplica todas las medidas necesarias para proteger los datos personales de los usuarios y proporcionar información clara y transparente sobre los datos recopilados y su uso. Esta política explica cómo se tratará cualquier dato de carácter personal comunicado a Michelin o recopilado durante la utilización de su sitio web o sus servicios digitales.<br />.<br />
                Lea atentamente esta política para entender nuestro enfoque y prácticas en relación con los datos de carácter personal y su tratamiento..<br />
                1.      Quiénes somos e información de contacto.<br />
                2.      El Delegado de protección de datos.<br />
                3.      Otras políticas e información de interés.<br />
                4.      Información obtenida de los usuarios.<br />
                5.      Comunicaciones Comerciales.<br />
                6.      Información sobre los usuarios obtenida por otros medios.<br />
                7.      Dónde conservamos los datos personales.<br />
                8.      Compartir los datos personales.<br />
                9.      Transferencias Internacionales de Datos.<br />
                10.   Periodo de conservación de los datos personales..<br />
                11.   Derechos de los usuarios en virtud de la legislación sobre protección de datos.<br />
                12.   Qué hacer si no está satisfecho con nuestra forma de utilizar los datos personales.<br />
                13.   Seguridad de los datos.<br />
                14.   Menores de edad.<br />
                15.   Cambios en esta Política de protección de datos de carácter personal.
            </div>


            <div class="subtitLeg">Quiénes somos e información de contacto.</div>
            <div class="txtLeg">
                Nuestra denominación legal es Michelin España Portugal, S.A. (en adelante, MEPSA) y cuando acceda y utilice nuestra Web y sus servicios, somos el responsable del tratamiento. Si necesita ponerse en contacto con nosotros, le ofrecemos varias posibilidades:<br /><br />
                <ul>
                    <li>Puede enviarnos un correo electrónico a la dirección marketing.mail@comunicaciones.michelin.es</li>
                    <li>Puede escribirnos mediante correo postal a la Avda. de los Encuartes, 19, Tres Cantos 29760 Madrid.</li>
                    <li>También puede utilizar el formulario de contacto que encontrará en nuestro sitio web</li>
                    <li>Finalmente, puede llamarnos por teléfono al número 91. 410.50.00. </li>
                </ul>
            </div>
            <div class="subtitLeg">2. Delegado de protección de datos.</div>
            <div class="txtLeg">Aunque todos los miembros de Michelin trabajan para proteger y respetar la intimidad de los usuarios, Uds. puede contactar con el Delegado de Protección de Datos que es el responsable de tratar todos los aspectos relacionados con los datos de carácter personal en Michelin. Puede ponerse en contacto enviando un correo electrónico a la siguiente dirección dpd@michelin.com<br /></div>

            <div class="subtitLeg">3. Otras políticas e información de interés.</div>
            <div class="txtLeg">
                Esta Política de protección de datos de carácter personal contiene toda la información necesaria sobre la recopilación y el uso de los datos personales de los usuarios en nuestros sitios web, pero también existen otros espacios con información que podría ser de interés para los usuarios.<br /><br />
                <ul>
                    <li>Otras políticas de protección de datos.</li>
                    <li>La Política de cookies. </li>
                    <li>Términos y Condiciones de uso de la Web.</li>
                    <li>Sitios Web Vinculados.</li>
                </ul><br />
                <u>Otras políticas de protección de datos.</u><br />
                Esta es la principal política de protección de datos de carácter personal de MEPSA aplicable a nuestros sitios Web y a los servicios y productos digitales que ofrecemos. No obstante, las políticas de protección de datos de productos y servicios digitales específicos podrán incluir información adicional, por lo que se recomienda a los usuarios consulten dichas políticas cuando se registren o inscriban para disfrutar de dichos productos y servicios.<br /><br />
                <u>La Política de cookies de Michelin.</u><br />
                Cuando Ud. Accede a la Web y/o a los servicios y productos digitales que ofrecemos, podemos utilizar cookies para recopilar información con el fin de distinguirle a Ud. de otros usuarios de dicho sitio web o productos y servicios digitales. Contamos con una Política de cookies específica donde se explica cómo empleamos las cookies y las finalidades con las que las utilizamos. Animamos a los usuarios a leer dicha Política de cookies<br /><br />
                <u>Términos y Condiciones de uso.</u><br />
                Los Términos y Condiciones de uso del sitio Web le informan de los términos en los que puede utilizar nuestros sitios web. Deben leerse junto con esta Política de Privacidad. Puede leer nuestros Términos y Condiciones de uso del sitio Web<br /><br />
                <u>Sitios Webs vinculados.</u><br />
                El sitio Web de MEPSA en ocasiones podrá incluir enlaces a nuestros sitios web, plataformas digitales, páginas de redes sociales, filiales, y a anunciantes asociados, o que procedan de estos. Cuando acceda a uno de estos enlaces, no olvide que dichos sitios cuentan con sus propias políticas de protección de datos y que MEPSA en ningún caso podrá ser considerada responsable por dichas políticas. Consúltelas antes de comunicar cualquier dato personal a dichos sitios web.<br />
            </div>
            <div class="subtitLeg">4. Información obtenida de los usuarios.</div>
            <div class="txtLeg">
                Esta sección establece:<br /><br />
                <ul>
                    <li>Cómo recopilamos los datos personales de los usuarios.</li>
                    <li>Qué categorías de datos recopilamos.</li>
                    <li>Una descripción de cómo utilizaremos los datos recopilados.</li>
                    <li>La base jurídica en la que nos apoyamos para tratar los datos recopilados.</li>
                    <li>En la medida de lo posible, el tiempo de conservación de los datos o los criterios para determinar el plazo de conservación.</li>
                </ul><br /><br />
                Podemos recopilar y conservar los siguientes datos de carácter personal:<br /><br />
                <table>

                    <tr>
                        <th>Datos recopilados </th>
                        <th>Finalidad/Actividad </th>
                        <th>Tipo de datos</th>
                        <th>Base jurídica para el tratamiento</th>
                    </tr>
                    <tr>
                        <td>Información comunicada por el usuario al participar en una promoción, concurso y/o sorteo («Datos de acciones Promocionales).</td>
                        <td>Para poder enviarle más información sobre la acción promocional, concurso y/o sorteo y, si es el ganador, sobre el premio. Salvo si se indica lo contrario, solo utilizaremos los datos recopilados para gestionar y administrar las promociones, concursos y/o sorteos</td>
                        <td>Los Datos de acciones promocionales  incluirán, por ejemplo, el nombre y apellidos, el email, la dirección postal, y datos bancarios en su caso.</td>
                        <td>La base jurídica para el tratamiento de los Datos de acciones Promocionales es el Consentimiento del interesado y acuerdo celebrado entre Michelin y el usuario para participar en la acción promocional, concurso o y/o sorteo.</td>
                    </tr>
                    <tr>
                        <td>Información comunicada por el usuario al responder a una encuesta, cuestionario o sondeo («Datos de encuestas»).</td>
                        <td>
                            Para recopilar información sobre un tema específico, por ejemplo, productos consumidos o servicios prestados al usuario.
                            Muchas veces las encuestas, cuestionarios y sondeos serán anónimos y Michelin solo recopilará datos con fines estadísticos. Cuando no sea así, informaremos al usuario en el momento de recopilar la información.
                        </td>
                        <td>Estos datos podrán incluir el nombre completo, la dirección de correo electrónico y otros datos personales del usuario solicitados.</td>
                        <td>Utilizaremos nuestro interés legítimo en el seguimiento y la mejora de los productos y servicios ofrecidos a los clientes y usuarios como base jurídica para el tratamiento de los Datos de encuestas.</td>
                    </tr>
                    <tr>
                        <td>Información comunicada por el usuario cuando contacta con el servicio de Atención al Cliente («Datos del Servicio de Atención al Cliente»).</td>
                        <td>Para poder atender, gestionar y dar respuesta a las consultas, quejas, reclamaciones, y sugerencias que realiza el usuario.</td>
                        <td>Estos datos podrán incluir el nombre completo, la dirección de correo electrónico y otros datos personales del usuario solicitados</td>
                        <td>La base jurídica para el tratamiento de los Datos del Servicio de Atención al Cliente es el Consentimiento del interesado.</td>
                    </tr>

                    <tr>
                        <td>Al registrarse para disfrutar de algún producto o servicio digital de Michelin a través de una cuenta, solicitaremos al usuario información que nos permitirá identificarle y proporcionarle los productos y servicios solicitados («Datos de cuenta»).</td>
                        <td>Los Datos de cuenta se tratarán para gestionar la actividad de nuestros sitios web, prestar los servicios digitales contratados por el usuario, comunicar con él en relación con dichos productos y servicios digitales y mantener copias de seguridad de nuestros servicios.</td>
                        <td>Los Datos de cuenta podrán el nombre completo, el email, la fecha de nacimiento, el país y el código postal del usuario, así como sus direcciones, vehículos y neumáticos preferidos. También podremos solicitarle que establezca una contraseña para acceder a su cuenta de forma segura.</td>
                        <td>La base jurídica para el tratamiento de los Datos de cuenta será el acuerdo celebrado entre Michelin y el usuario con vistas a disfrutar del producto o los servicios digitales.</td>
                    </tr>

                    <tr>
                        <td>Al solicitar más información registrándose para recibir cualquiera de nuestros boletines de información o comunicaciones comerciales («Datos comerciales»).</td>
                        <td>Los Datos comerciales se tratarán con vistas a enviar al usuario las notificaciones correspondientes o los boletines de información solicitados.</td>
                        <td>Solicitaremos al usuario su nombre y email para poder enviarle la información solicitada.</td>
                        <td>La base jurídica para este tratamiento será el consentimiento del interesado.</td>
                    </tr>
                </table>
                <br />

                <u>Información Voluntaria.</u><br />
                Cuando Ud. nos facilita información (por ejemplo, los datos referidos en los anteriores supuestos), en ocasiones también le podemos solicitar información adicional y voluntaria. Dicha información se identificará como opcional y se utilizará para ayudarnos a entender mejor a nuestros clientes y adaptar nuestros servicios a sus necesidades.<br /><br />
                <u>Información estadística.</u><br />
                También recopilamos y utilizamos datos agregados, como datos estadísticos o demográficos ("Datos agregados"). Los datos agregados son totalmente anónimos y no revelan su identidad ni le identifican de ninguna manera. Por ejemplo, podemos agregar el uso de un dispositivo para calcular el porcentaje de accesos a una característica específica de nuestro sitio Web.<br /><br />
                <u>Información Personal Sensible.</u><br />
                Si bien no solicitamos información personal sensible, sí tenemos secciones en nuestros sitios web donde puede enviar información adicional, como por ejemplo, en el formulario de Contacto. No envíe información personal sensible en estas secciones de texto libre.
            </div>

            <div class="subtitLeg">5. Comunicaciones Comerciales.</div>
            <div class="txtLeg">
                Cuando nos facilite sus datos para recibir cualquiera de nuestros boletines informativos o comunicaciones de marketing, utilizaremos la información que nos proporciona, generalmente solo su nombre y dirección de correo electrónico, para que podamos enviarle nuestros boletines, promociones y otras comunicaciones que haya solicitado. Trataremos su información personal con fines de marketing por correo electrónico con base jurídica en su consentimiento.<br /><br />
                Si decide en algún momento que ya no desea recibir estos correos electrónicos, puede darse de baja en cualquier momento. Hay varias maneras de hacerlo: (i) siempre hay una opción de cancelación de suscripción en la parte inferior de cada comunicación de marketing que le enviamos; y (ii) también puede contactarnos por correo electrónico o carta utilizando cualquiera de los detalles de contacto establecidos en esta política de privacidad. Si retira su consentimiento, dejaremos de enviarle nuestros boletines informativos y promociones y otras comunicaciones según lo solicitado.
            </div>

            <div class="subtitLeg">6. Información sobre los usuarios obtenida por otros medios.</div>
            <div class="txtLeg">
                Para permitirnos brindarle nuestros servicios, podemos recibir información personal sobre usted de otras fuentes:<br />
                <ul><li>Michelin podrá recibir información sobre Ud. si Ud. accede o usa cualquiera de los otros sitios web que explotamos o desde otros productos y/o servicios que ofrecemos. También colaboramos estrechamente con terceros (incluidos, por ejemplo, socios comerciales, proveedores de servicios técnicos o de pago, proveedores de servicios de análisis y suministro de datos y sociedades de información crediticia, etc.) y podremos recibir información sobre Ud. procedente de dichos terceros. Esta información es utilizada por nosotros para la finalidad de seguimiento y la mejora de nuestros sitios web, productos y servicios.</li></ul><br /><br />
                La base jurídica para dicho tratamiento será nuestro interés legítimo.<br /><br />
                <ul><li>Podremos obtener información de los registros de nuestros servidores web, por ejemplo, información sobre su ordenador, como su dirección IP, sistema operativo y tipo de navegador. También podremos recopilar información sobre las búsquedas que lleva a cabo en nuestro sitio web y su interacción con las comunicaciones que le enviamos, por ejemplo, cuando abre comunicaciones por correo electrónico. ("Uso y datos del dispositivo"). Esta información es utilizada por nosotros para la administración del sistema y para analizar cómo se utilizan nuestros sitios web y plataformas. También nos ayuda a proporcionar la mejor infraestructura para su experiencia en línea. </li></ul><br /><br />
                La base jurídica para dicho tratamiento será nuestro interés legítimo, principalmente en el seguimiento y la mejora de nuestro sitio web, productos y servicios.<br /><br />
                <ul>
                    <li>
                        Como se ha indicado más arriba, Michelin podrá obtener información a través de las Cookies u otras tecnologías similares que se instalarán en el dispositivo de los usuarios para recopilar datos («Datos de comportamiento») Puede leer nuestra Política de cookies
                        Podremos combinar los Datos de comportamiento y los Datos comerciales de los usuarios para enviarles notificaciones o boletines de información personalizados.
                    </li>
                </ul><br /><br />
                La base jurídica para dicho tratamiento será el consentimiento del interesado o, cuando corresponda, nuestro interés legítimo, principalmente en el seguimiento y la mejora de nuestro sitio web, productos y servicios.<br /><br />
                <ul><li>Nuestro sitio web le puede permitir compartir su experiencia y conectarse con nosotros a través de redes sociales como Facebook y Twitter. También recopilamos información desde nuestros sitios de medios sociales, como clics en «Me gusta», publicaciones compartidas y tweets, y sobre el contenido en las redes sociales. En particular, cuando utilice su cuenta de Facebook para suscribir o conectarse a «Mi Cuenta Michelin», recibiremos información del perfil público del usuario en Facebook. Se informará a los usuarios sobre los datos que la red social comunicará a Michelin antes de proceder a la transmisión.</li></ul><br /><br />
                No controlamos la privacidad de la información que proporciona usted en las redes sociales. Las políticas de privacidad de esas redes sociales se aplicarán cuando utilicen sus servicios.<br /><br />
                La base jurídica para dicho tratamiento será el consentimiento del interesado.<br /><br />
            </div>

            <div class="subtitLeg">7. Dónde conservamos los datos personales.</div>
            <div class="txtLeg">
                Toda la información que nos proporciona se almacena en servidores seguros.<br /><br />
                Si bien nos comprometemos a mantener segura su información personal, la transmisión de información on line no es completamente segura. Nosotros, junto con nuestros proveedores de servicios, haremos nuestro mejor esfuerzo para proteger su información personal.<br /><br />
            </div>

            <div class="subtitLeg">8. Difusión los datos personales.</div>
            <div class="txtLeg">
                Los destinatarios de los datos de carácter personal serán exclusivamente las personas que necesiten conocer dicha información para desempeñar sus funciones.<br /><br />
                Podremos compartir los datos personales de los usuarios en las siguientes condiciones:<br /><br />
                Dentro del grupo Michelin: <br /><br />
                Podremos comunicar los datos de carácter personal a cualquier empresa del grupo Michelin, en la medida en que sea necesario para los mismos fines que el/los tratamiento/s establecido/s en esta política<br /><br />
                <u>Con proveedores:</u><br /><br />
                MEPSA podrá compartir los datos personales de los usuarios con proveedores seleccionados a los que recurrirá para procesar solicitudes o solicitar servicios. Dichos proveedores actuarán como encargados del tratamiento y tendrán la obligación legal y contractual de mantener la confidencialidad y la seguridad de los datos personales que puedan recibir y tratar, y de utilizar dichos datos únicamente siguiendo nuestras instrucciones.<br /><br />
                <u>Con terceros:</u><br /><br />
                <ul>
                    <li>
                        Por cualquier motivo legal:<br />
                        Es posible que debamos divulgar o compartir los datos personales de un usuario para cumplir una obligación legal, aplicar o hacer respetar nuestras condiciones generales y otros acuerdos, o con vistas a proteger los derechos, la propiedad o la seguridad del grupo Michelin, nuestros clientes u otros.
                    </li>
                    <li>
                        Con el consentimiento del interesado:<br />
                        Determinados terceros podrán recopilar datos sobre los usuarios en nuestro sitio web, productos o servicios mediante cookies o tecnologías similares, por ejemplo para ofrecer anuncios personalizados o elaborar perfiles. El usuario deberá aceptar las políticas de Privacidad correspondientes
                    </li>
                </ul>
            </div>
            <div class="subtitLeg">9. Transferencias Internacionales de datos</div>
            <div class="txtLeg">
                Michelin es un grupo internacional con bases de datos en los distintos países donde desarrolla su actividad. Michelin podrá transferir los datos de carácter personal dentro del grupo a una de sus bases de datos o a socios externos situados fuera del país de residencia del usuario.<br /><br />
                Como el nivel de protección de los datos no es el mismo en todo el mundo, no transferiremos datos de carácter personal a empresas del grupo Michelin o terceros fuera de la Unión Europea, salvo si dichas empresas garantizan un nivel de protección de los datos personales idéntico o similar al de Michelin.<br /><br />
                Para las transferencias dentro del grupo Michelin, nos regiremos por normas internas aplicables a la transferencia de datos personales desde la Unión Europea o el Espacio Económico Europeo. Pueden encontrarse más detalles sobre dichas normas en este enlace.<br /><br />
                Las transferencias de datos fuera del grupo Michelin se regirán por contratos que incluirán las cláusulas tipo de la Comisión Europea para los proveedores establecidos fuera de la UE con vistas a garantizar un nivel de protección similar al del país de residencia del usuario.<br /><br />
                Concretamente, los datos de carácter personal que un usuario nos comunique cuando se registre para recibir nuestros boletines de información o comunicaciones comerciales serán alojados dentro la Unión Europea por nuestro proveedor Artyco. Esa transferencia se realizará en virtud de un contrato que incluirá las cláusulas tipo de la Comisión Europea, como se ha indicado en el párrafo anterior.<br /><br />
                A pesar de nuestra labor para garantizar la seguridad de los datos de carácter personal, la transmisión de información on line a través de internet no es completamente segura. Michelin y sus proveedores de servicio harán todo lo posible para proteger los datos personales de los usuarios, pero la comunicación de información será responsabilidad exclusiva de estos.<br />
            </div>
            <div class="subtitLeg">10. Periodo de conservación de los datos personales</div>
            <div class="txtLeg">
                Por norma general, no conservaremos los datos de carácter personal a ningún efecto durante un periodo superior al necesario para cumplir con los objetivos para los que los fueron recopilados y para respetar cualesquiera exigencias legales, contables o de información.<br /><br />
                Para establecer un periodo de conservación de los datos personales adecuado, consideraremos la cantidad, la naturaleza y la sensibilidad de los datos de carácter personal, los posibles riesgos de daño por la divulgación o el uso no autorizados de los datos, la finalidad con la que trataremos los datos y si podemos alcanzar dichos objetivos con otros medios, así como las exigencias legales aplicables.<br /><br />
                Cuando el periodo de conservación expire, Michelin eliminará los datos de carácter personal del usuario.<br /><br />
                En algunos casos el usuario podrá solicitar a Michelin que elimine sus datos. Para más información, consulte el derecho de supresión detallado más adelante.<br /><br />
                En algunos casos, podremos anonimizar los datos personales de un usuario de forma que ya no puedan asociarse al mismo ni identificarle, con fines de investigación o estadísticos.<br />
            </div>

            <div class="subtitLeg">11. Derechos de los usuarios en virtud de la legislación sobre protección de datos.</div>
            <div class="txtLeg">
                La legislación en materia de protección de datos de carácter personal proporciona a los interesados varios derechos relacionados con el tratamiento de sus datos. Estos son esos derechos:<br />
                <ul>
                    <li>Derecho a ser informado.</li>
                    <li>Derecho de acceso a sus datos.</li>
                    <li>Derecho de rectificación de sus datos.</li>
                    <li>Derecho de supresión de sus datos.</li>
                    <li>Derecho a la limitación del tratamiento.</li>
                    <li>Derecho a la portabilidad de los datos.</li>
                    <li>Derecho de oposición.</li>
                    <li>Derecho a no ser objeto de decisiones individuales automatizadas, incluida la elaboración de perfiles.</li>
                </ul><br /><br />
                <u>Derecho a ser informado.</u><br /><br />
                El usuario tiene derecho a ser informado de nuestra forma de recopilar y tratar sus datos personales, incluyendo información sobre quiénes somos, cómo utilizamos los datos de carácter personal y sus derechos en relación con dichos datos. En el presente documento hemos recopilado toda la información necesaria relativa a la Política de Privacidad y Protección de datos de carácter personal.<br /><br />
                <u>Derecho de acceso a sus datos.</u><br /><br />
                El usuario tiene derecho a acceder a los datos personales que le conciernen. Podremos informar de si sus datos se están tratando o no y proporcionarle acceso a sus datos personales.<br /><br />
                <u>Derecho de rectificación de sus datos.</u><br /><br />
                Si sus datos personales son inexactos o incompletos, el usuario tendrá derecho a que los datos se corrijan y actualicen. Si hemos divulgado sus datos a terceros, siempre que sea posible les informaremos de las rectificaciones realizadas por el usuario. Los interesados podrán actualizar los datos de carácter personal que poseamos sobre ellos poniéndose en contacto con nosotros mediante cualquiera de los métodos de contacto expuestos en esta Política de protección de datos de carácter personal.<br /><br />
                <u>Derecho de supresión de sus datos.</u><br /><br />
                El usuario tendrá derecho a solicitar que se supriman sus datos personales cuando no exista ningún motivo para que sigamos tratándolos. Podrá solicitar la aplicación del derecho al olvido por ejemplo cuando los datos ya no sean necesarios en relación con los fines para los que fueron recopilados o tratados originalmente, y cuando el interesado retire el consentimiento para el tratamiento.<br /><br />
                <u>Derecho a la limitación del tratamiento.</u><br /><br />
                El usuario también tendrá derecho a obtener del responsable del tratamiento la limitación del tratamiento de sus datos personales cuando concurra alguna de las condiciones establecidas en la legislación vigente.<br /><br />
                <u>Derecho a la portabilidad de los datos.</u><br /><br />
                Si desea trasladar o transferir sus datos personales a otro responsable del tratamiento (i.e. proveedor de servicios diferente) o copiar sus datos para sus propios fines, el usuario tendrá derecho a que sus datos se transmitan a otro responsable del tratamiento cuando técnicamente sea posible.<br /><br />
                <u>Derecho de oposición.</u><br /><br />
                El usuario tendrá derecho a oponerse en cualquier momento a que no se traten sus datos personales por motivos relacionados con su situación particular, cuando el tratamiento de sus datos tenga por objeto la mercadotecnia directa, incluyendo la elaboración de perfiles, entre otros.
                No ser objeto de decisiones individuales automatizadas, incluida la elaboración de perfiles.<br /><br />
                Todo interesado tendrá derecho a no ser objeto de una decisión basada únicamente en el tratamiento automatizado, incluida la elaboración de perfiles, que produzca efectos jurídicos en él o le afecte significativamente de modo similar.<br />

            </div>

            <div class="subtitLeg">12. Qué hacer en caso de insatisfacción.</div>
            <div class="txtLeg">
                Michelin hará todo lo posible para proteger y respetar su intimidad. Pese a ello, si no está satisfecho con la forma en que Michelin recopila o trata sus datos o simplemente desea más información sobre sus derechos, el usuario podrá ponerse en contacto con nosotros de las siguientes formas:<br /><br />
                <ul>
                    <li>Mediante correo electrónico a dpd@michelin.com</li>
                    <li>Mediante correo postal dirigido a Delegado Protección de Datos, a la dirección Avda. de los Encuartes, 19, Tres Cantos 28760 Madrid.</li>
                    <li>Mediante el formulario de contacto disponible en nuestro sitio web.</li>
                </ul><br /><br />
                Trabajaremos con el usuario para resolver cualquier problema surgido y trataremos de responder a cualquier pregunta planteada lo antes posible.
                También podrá presentar una reclamación ante la autoridad de control<br />
            </div>

            <div class="subtitLeg">13. Seguridad de los datos.</div>
            <div class="txtLeg">
                Michelin ha aplicado medidas para proteger la confidencialidad, seguridad e integridad de los datos de carácter personal. Solo podrán acceder a los datos personales los trabajadores y proveedores de servicios autorizados que necesiten conocer dicha información y que hayan recibido formación para cumplir con las normas en materia de confidencialidad.<br /><br />
                En los sitios comerciales de Michelin, cuando se soliciten datos bancarios, estos se recopilarán en aplicación de procesos de pago seguros, legales y eficaces. Las medidas podrán consistir en el cifrado SSL (cuya finalidad es impedir que otros puedan leer los datos) durante la recopilación o transferencia de datos confidenciales. Dicha información solamente se utilizará a los efectos del pago en línea y no será conservada.
                Michelin garantiza que los datos de carácter personal no se alterarán, dañarán ni comunicarán a terceros no autorizados.<br />
            </div>


            <div class="subtitLeg">14. Menores de edad</div>
            <div class="txtLeg">Nuestro sitio web no está destinado a los menores de edad conforme a la reglamentación aplicable. Si el usuario es un menor no deberá utilizar nuestro sitio web sin la supervisión del titular de la patria potestad o tutela. Si un adulto descubre que su hijo menor nos ha comunicado datos personales sin su supervisión, debe ponerse en contacto con nosotros.<br /></div>


            <div class="subtitLeg">15. Cambios en esta Política de protección de datos de carácter personal</div>
            <div class="txtLeg">Esta política podrá ser objeto de modificaciones. Cualquier cambio que se realice en el futuro se publicará en esta página. Los usuarios que posean una cuenta en línea de Michelin podrán ser informados de cualesquiera cambios por correo electrónico o a través de su cuenta en su siguiente conexión.<br /></div>

        </div>


    </div>






</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $("body").addClass("bindex_leg");
    </script>
}