<div class="footer">
    <ul>
        <li><a href="http://www.facebook.com/sharer.php?u=https://promociones.michelin.es" title="https://www.facebook.com/michelinespana/" target="_blank"><img src="~/images/foot_facebook.png" alt="Comparte esta promoción en Facebook" /></a></li>
        <li><a href="https://twitter.com/intent/tweet?text=MICHELIN%20Y%20T%C3%9A%20%C2%A1ESTE%20VERANO%20ELIGE%20MICHELIN!%20HASTA%20EL%2031%20DE%20JULIO%20COMPRA%20NEUM%C3%81TICOS%20MICHELIN%20PARA%20TU%20COCHE%20O%20MOTO%20%20ABRIL%20Y%20%C2%A1CONSIGUE%20HASTA%2060%E2%82%AC!%20CONSIGUE%20HASTA%2060%E2%82%AC%20Y%20ELIGE%20LO%20QUE%20T%C3%9A%20QUIERAS%20M%C3%81S%20INFORMACI%C3%93N%20Y%20TALLERES%20ADHERIDOS%20EN&amp;url=https://promociones.michelin.es" target="_blank"><img src="~/images/foot_twitter.png" alt="Comparte esta promoción en Twitter" /></a></li>
        <li><a href="https://www.instagram.com/michelin/?hl=es" target="_blank"><img src="~/images/foot_instagram.png" alt="Comparte esta promoción en Instragram" /></a></li>
    </ul>
    <div class="slogan">Comparte esta promoción</div>
    <div class="copy">Copyright ©MICHELIN 2019. Todos los derechos reservados. Tus datos son importantes para nosotros, consulta nuestra política de privacidad y cómo utilizamos las cookies.</div>

</div>
<div class="footer1">
    <b>Sitemap</b>      
    <ul>
        <li><a href="/es/inicio">Inicio</a></li>
        <li><a href="/es/seleccion-participa">Participar</a></li>
        <li><a href="/es/talleres">Buscador De Talleres</a></li>
        <li><a href="/es/preguntas-frecuentes">Preguntas Frecuentes</a></li>
        <li><a href="/es/bases-legales">Bases Legales</a></li>
        <li><a href="/es/politica-privacidad">Política De Privacidad</a></li>
        <li><a href="/es/politica-cookies">Política De Cookies</a></li>
        <li><a href="/es/contacto">Contacto</a></li>                           
    </ul>
</div>	