<div class="header">
    <div class="headmenumov">
        <img src="~/images/menu.png" alt="menu" />
        <div class="menudesplegado" style="display: none;">
            <ul>
                <li><a href="/es/inicio">Inicio</a></li>
                <li><a href="/es/talleres">Buscador de talleres</a></li>
                <li><a href="/es/preguntas-frecuentes">Preguntas frecuentes</a></li>
                <li><a href="/es/bases-legales">Bases legales</a></li>
                <li><a href="/es/politica-privacidad">Política de privacidad</a></li>
                <li><a href="/es/politica-cookies">Política de cookies</a></li>
                <li><a href="/es/contacto"><img src="~/images/contact.PNG" /></a></li>
            </ul>
        </div>
    </div>
    <div class="headlogo"><img src="~/images/logo_michelin_01.png" alt="Michelin" class="img-fluid logo" /></div>
    <div class="headmenu">
        <img src="~/images/menu.png" alt="menu" style="cursor: pointer;"/>
        <div class="menudesplegado" style="display: none;">
            <ul>
                <li><a href="/es/inicio">Inicio</a></li>
                <li><a href="/es/talleres">Buscador de talleres</a></li>
                <li><a href="/es/preguntas-frecuentes">Preguntas frecuentes</a></li>
                <li><a href="/es/bases-legales">Bases legales</a></li>
                <li><a href="/es/politica-privacidad">Política de privacidad</a></li>
                <li><a href="/es/politica-cookies">Política de cookies</a></li>
                <li><a href="/es/contacto"><img src="~/images/contact.PNG" /></a></li>
            </ul>
        </div>
    </div>
</div>