@{
    ViewData["Title"] = "TARJETA REGALO EL CORTE INGLES 30€ | Detalle Regalo | Vuelta al Cole | Michelin";
    var currentUrl = Context.Request.Path;
    var seleccionBtn = false;
    if (currentUrl.ToString().Contains("-seleccion"))
    {
        seleccionBtn = true;
    }
    var hiddenidsession = ViewBag.hiddenidsession;
}
@section Styles{
    <style>
        @@media screen and (min-width: 576px) and (max-height: 870px) {
			.bindex_det {background-image:url(images/fnd_ind_body_fixed_det.png); background-position: left top;}
		}
        #containerRegalo {
            max-width: 750px;
        }

    </style>
}
<div class="content contentMichelinRegalo">
    <div class="container containerMichelinRegalo">
        <div id="containerRegalo">
            <div class="volver">
                @if (seleccionBtn)
                {
                    <a href="/es/seleccion-regalo">< Volver</a>
                }
                else
                {
                    <a href="/es/regalos">< Volver</a>
                }
            </div>
            <div class="row" style="margin: 30px 0px 15px 0px;">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 leftPremio">
                    <img src="~/images/premios/es/regalo_corteingles.jpg" alt="TARJETA REGALO EL CORTE INGLES" class="img-fluid" style="max-width:300px;" />
                </div>
                
            </div>
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="titPremio">TARJETA REGALO EL CORTE INGLES 30€</div>
                    <div class="txtPremio">
                        <p>Para preparar la vuelta al cole te ofrecemos un cupón canjeable por una Tarjeta Regalo al presentarlo impreso en cualquier departamento de Atención al Cliente de los centros comerciales de El Corte Inglés o Hipercor en Península, Baleares e Islas Canarias.</p>
                        <p>La Tarjeta Regalo El Corte Inglés recibida al canjear tu cupón es válida para su uso en El Corte Inglés, Hipercor, Supercor, Viajes El Corte Inglés, Bricor, Sfera, Óptica 2000, La Tienda en Casa y en la web www.elcorteingles.es </p>
                    </div>
                    @if (seleccionBtn)
                    {
                        <form id="regalo-detail-form" action="/es/seleccion-regalo-detail-form" method="post">
                            <input type="hidden" name="hiddenidsession" value="@hiddenidsession">
                            <div class="frmBtn"><div class="btnPremio">Seleccionar</div></div>
                        </form>
                    }
                    else
                    {
                        <div class="frmBtn"><div class="btnPremio Volver">Volver</div></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $("body").addClass("bindex_det");
        $(".btnPremio").on('click', function () {
            var form = $("form[id=regalo-detail-form]");
            form.submit();
        });
        $(".Volver").on('click', function () {
            window.location.href = "/es/regalos";
        });
    </script>
}